.table-container {
  margin: 20px;
  max-height: 700px; /* Adjust the height as per your needs */
  overflow-y: auto;  /* Enables vertical scrolling */
}

.ticket-table {
  width: 100%;
  border-collapse: collapse;
}

/* Styling for the date and time selector section */
.date-time-selector {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.date-time-selector input,
.date-time-selector select {
  padding: 8px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.date-time-selector select {
  width: 120px;
}


.ticket-table th,
.ticket-table td {
  padding: 10px;
  text-align: center;
}

.result-input {
  width: 100%;
  text-align: center;
}

.save-container {
  margin-top: 20px;
  text-align: center;
}

.save-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.save-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.main-ticket-row {
  background-color: #f0f0f0;
}

.secondary-ticket-row {
  background-color: #e6e6e6;
}

/* Fix table header */
.ticket-table thead {
  position: sticky;
  top: 0;
  background-color: white; /* Ensures the header stays visible */
  z-index: 1; /* Makes sure the header stays on top of the scrollable body */
}

/* Responsive design for small screens */
@media screen and (max-width: 600px) {
  .date-time-selector {
    flex-direction: column;
    align-items: flex-start;
  }

  .date-time-selector input,
  .date-time-selector select {
    width: 100%;
    margin-bottom: 10px;
  }

  .ticket-table th,
  .ticket-table td {
    font-size: 14px;
    padding: 8px;
  }

  .save-button {
    width: 100%;
  }
}