/* App.css or index.css */

body {
    margin: 0;
    padding: 0;
    background-color:white; /* Solid color */
    /* background-image: url('/path/to/image.jpg'); */ /* Image background */
    /* background: linear-gradient(to right, #ff7e5f, #feb47b); */ /* Gradient background */
    background-size: cover;
    background-repeat: no-repeat;
    font-family: sans-serif;
  }
  .page-header {
    background-color: #3f51b5; /* Similar blue to your screenshot */
    padding: 12px;
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    text-align: left;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }